<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reCAPTCHA invisible</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function onSubmit(token) {
      document.getElementById("contact-form").submit();
    }
  </script>
</head>

<body>

  <h1>Contact Us</h1>
  <div class="container">
    <form action="/contact" method="post" id="contact-form">
      <label for="name">Name</label>
      <input type="text" name="name"><br><br>
      <label for="email">Email</label>
      <input type="email" name="email"><br><br>
      <label for="message">Message</label>
      <input type="text" name="message"><br><br>
      <button class="g-recaptcha" data-sitekey="Data_SiteKey"
        data-callback="onSubmit">Submit</button>
    </form>
  </div>

</body>

</html>